:root {
    --rowNumber: 16;
    --columnNumber: 16;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainBlock {
    display: grid;
    grid-template-columns: repeat(var(--columnNumber), 1fr);
    grid-template-rows: repeat(var(--rowNumber), 1fr);
    width: 512px;
    height: 512px;
    background-color: rgb(255, 255, 255);
    margin-top: 1rem;
    border: 1px black solid;
}

.singleCell {
    display: block;
    border: solid 1px rgb(223, 222, 222);
}